*{
	padding: 0px;
	margin: 0px;
}
a{
	color: white;
	text-decoration: none;
}
ul,ol{
	list-style: none;
}
input,button{
    outline:medium;
}​

/*nav*/
.list{
	margin-left: 600px;
}
.list>li{
	float: left;
	font-weight: bolder;
	font-size:18px;
	font-family: 微软雅黑;
	margin: 10px 30px 10px 30px;
	display:inline-block;
}
.list>li:hover .list>li{
	border-top:5px solid white;
}
.list>li:hover .sec{
	margin-top: 10px;
	width:80px;
	height:80px;
	border:1px solid white;
    display: block;
    z-index: 99;
}
.sec li a{
	font-family: 微软雅黑;
	font-weight:500;
	font-size: 14px;
	color:white;
}
.list>li:hover .sec li{
	margin-left:20px;
    display: block;
}
.list .login{
	width:120px;
	height: 50px;
	font-size: 16px;
    float:right;
    margin-left: 220px;
}
.login li{
	margin:  13px 10px 10px 10px;
	display: inline-block;
}
.sec li{
	display: none;
}
.back img{
	width:100%;
	height:550px;
}
.back #logo{
	position:absolute;
	width:200px;
	height:40px;
	z-index:3;
	margin:20px;
}
/*head*/
.head-banner{
	height: 600px;
	width: 100%;
	position: relative;
}
.banner{
	width: 100%;
	height: 560px;
	border-bottom-left-radius: 15%;
	border-bottom-right-radius: 15%;
	overflow: hidden;
}
.banner li{
	width: 100%;
	height: 600px;
	display: none;

}
.banner li.sp{
	display: block;
}
.gailan{
	height: 350px;
	width: 280px;
	position: absolute;
	top: 100px;
	right: 50px;
	border-radius: 9px;
	background-color: rgba(54,54,54,0.7);
	border:3px solid rgba(130,130,130,0.2);
}
.ngl{
	height: 348px;
	width: 278px;
	border-radius: 9px;
	border:1px solid rgb(200,200,200);
}
.ngl li{
	margin-top: 9px;
	margin-left: 1px;
	height: 45px;
	width: 276px;
	border-radius: 5px;
	color: rgb(240,255,240);
	text-align: center;
	line-height: 45px;
}
.sty{
	background:rgb(102,205,170);
}
/*contant*/
.contant{
	height: 1500px;
	width: 1200px;
	border-radius: 10px;
	border:3px solid rgba(255,250,240,0.8);
	/*position: absolute;
	top: 500px;*/
	margin: -50px auto;
	background-color: rgb(255,255,240);
}
.seach{
	height: 100px;
	width: 1000px;
	margin: 20px auto;
}

.many select{
	float: right;
	/*border: 2px solid #ccc;*/
	border-radius: 10px;
	width: 100px;
	height: 70px;
	font-size: 20px;
	text-align: center;
	line-height: 70px;
}
.seach input{
	float: left;
	background-color: rgb(245,245,245);
	color: #ccc;
	margin-left: 10px;
	font-size: 25px;
	width: 750px;
	height: 60px;
	border-radius: 10px;
}
.seach button{
	float: left;
	background-color: rgb(0,238,118);
	color: white;
	margin-left: 10px;
	font-size: 25px;
	width: 100px;
	height: 60px;
	border-radius: 10px;

}
.list1 li{
	margin-left: 25px;
	float: left;
	height: 50px;
	width: 100px;
	border-radius: 10px;
	background-color: rgba(0,205,120);
	border: 2px solid rgba(84,255,159,0.6);
	text-align: center;
	line-height: 50px;
}
.list1 li a{
	color: white;
	font-size: 23px;
}

.p11{
	height: 600px;
	width: 1200px;
	margin-left:75px; 
	margin-bottom: 20px;
}
.p11>p{
	margin-top:100px;
	width: 400px;
	height: 40px;
	font-size: 30px;
	font-weight: bold;
	color: rgb(0,238,118);
	line-height: 40px;
	margin-bottom: 20px;
}
.p22{
	height: 600px;
	width: 1200px;
	margin-left: 75px;
}
.p22>p{
	width: 600px;
	height: 40px;
	font-size: 30px;
	font-weight: bold;
	color: rgb(0,238,118);
	line-height: 40px;
	margin-bottom: 20px;
}

.s1{
	height: 250px;
	width: 340px;
	border-radius: 10px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
	position: relative;
}
.s1 img{
	height: 250px;
	width: 340px;
	float: left;

}
.s3{
	height: 250px;
	width: 450px;
	border-radius: 10px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
	position: relative;
}
.s4{
	height: 250px;
	width: 290px;
	border-radius: 10px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
	position: relative;
}
.hr{
	width: 340px;
	height: 51px;
	background-color: rgba(70,70,68,0.6);
	position: absolute;
	bottom: 0px;
	color: rgb(255,240,245);
	font-size: 17px;
	text-align: center;
	line-height: 25px;
}
.p11>div>div:hover .hr{
	height: 250px;
	position: absolute;
	background-color: rgba(70,70,68,0.6);
	top: 0px;
	left: 0px;
}
.p11>div>div:hover .hr .x1{
	margin-top: 120px;
}


.final{
	margin-top: 25px;
	float: left;
	width: 100%;
	height: 600px;
	position: relative;
	background-color: rgb(84,255,159);
}
.jianjie1{
	margin-top: 50px;
	height: 170px;
	width: 170px;
	border-radius: 25%;
	position: absolute;
	top: 30px;
	left: 30px;
}
.jianjie1 img{
	height: 170px;
	width: 170px;
	border-radius: 25%;
}
.jianjie2{
	height: 170px;
	width: 170px;
	border-radius: 25%;
	position: absolute;
	top: 350px;
	left: 30px;
}
.jianjie2 img{
	height: 170px;
	width: 170px;
	border-radius: 25%;
}
.jianjie3{
	margin-top: 50px;
	height: 170px;
	width: 170px;
	border-radius: 25%;
	position: absolute;
	top: 30px;
	left: 1300px;
}
.jianjie3 img{
	height: 170px;
	width: 170px;
	border-radius: 25%;
}
.jianjie4{
	height: 170px;
	width: 170px;
	border-radius: 25%;
	position: absolute;
	top: 350px;
	left: 1300px;
}
.jianjie4 img{
	height: 170px;
	width: 170px;
	border-radius: 25%;
}
.box{
	float: left;
	height: 500px;
	width: 1000px;
	border:3px solid rgb(0,205,102);
	border-radius:10px;
	margin: 25px 250px;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 7000px;
	position: absolute;
	left: -1000px;
}
.slide{
	width: 1000px;
	overflow: hidden;
	float: left;
}
.slide>img{
	height: 500px;
	width: 1000px;
}
.box>span{
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: white;
	top: 250px;
	line-height: 50px;
	background: black;
	font-size: 50px;
	position: absolute;
	opacity: 0;
	border-radius: 50%;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}

.footer{
	float: left;
	position: relative;
	top:0px;
	width:100%;
	height:500px;
	background:#5B5B5B;
}
.footer img{
	float: left;
	margin-top:100px;
	margin-left: 20px;
	width:400px;
	height:80px 
}
.footer .wenzi{
	width:800px;
	height:150px;
	margin-left: 600px;
}

.footer ul li{
	margin:10px 50px 10px 50px;
	display: inline-block;
	color:white;
	font-size: 16px;
}
.yejiao{
	position: relative;
	top:70px;
	width:800px;
	height:50px;
	margin:0px auto;
	top:100px;
}
.yejiao p{
	font-size: 12.5px;
	color:white;
}
.p1{
	margin-left: 70px;
	margin-top:100px;
}

