ol,ul{list-style:none}
a{text-decoration:none}
fieldset,img{border:0;vertical-align:top;}
a,input,button,select,textarea{outline:none;}
a,button{cursor:pointer;}
body{
	background:#FFFAF4;
}
html{
	overflow-x:hidden; 
}
.feedbackwrap{
 width:1400px;
 margin:auto;
 margin-top: 50px;
 
}
.feedbackslide {
 height:300px;
 position: relative;
}
.feedbackslide li{
 position: absolute;
 left:30px;
 top:0;
}
.feedbackslide li img{
 width:500%;
 box-shadow:#d6d4d3 0px 0px 20px;
}
.feedbackarrow{
 opacity: 1;
}
.feedbackprev,.feedbacknext{
 width:50px;
 height:50px;
 position: absolute;
 top:50%;
 margin-top:-35px;
 background: rgba(0,0,0,0.3);
 border-radius: 70%;
 color:white;
 font-size:40px;
 z-index: 99;
}
.feedbacknext{
 right:0;
}
.feedbackname{
 width: 100%;
 margin-top: 100px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.feedbackname .p1{
 font-size: 22px;
 color: #333;

}
.feedbackname .p2{
 font-size: 18px;
 color: #666;
}
.part3{
			margin-top:60px;
			margin-left:100px;
			height:623px;
		}
		.part3 img{
			width:271px;
			height:290px;
		}
	.imgs li{
			display:inline-block;
			border:1px solid rgb(135,135,135);
			width:271px;
			height:290px;
			margin-left:32px;
			margin-bottom:32px;
			position:relative;
		}
		.shang2{
			/*margin-top:25px;*/
			text-align:center;
		}
		.shang3{
			/*margin-top:53px;*/
			text-align:center;
		}
		.shang4{
			/*margin-top: 48px;*/
			text-align:center;
		}
		.shang5{
			/*margin-top:35px;*/
			text-align:center;
		}
		.shang6{
			/*margin-top: 38px;*/
			text-align:center;
		}
		.shang7{
			/*margin-top: 46px;*/
			text-align:center;
		}
		.shang8{
			/*margin-top: 46px;*/
			text-align:center;
		}

		.imgs li:first-child{
			margin-left:0px;
		}
		.white{
			text-align:center;
			height:51px;
			width:271px;
			background-color: rgba(0,0,0,0.2);
			position:absolute;
			bottom:0px;
			left:0px;
		}
		.white p{
			font-size: 14.83px;
			font-family: “微软雅黑”；
			height:20px;
			color:white;

		}
		.imgs li:hover .white{
			background-color: rgba(0,0,0,0.2);
			width:271px;
			height:290px;
			line-height:271px;
		}
		.line{
			width:150px;
			height:3px;
			margin:0px auto;
			position:absolute;
			left:50px;
			top:178px;
		}
		.imgs li:hover .line{
			border-bottom:2px solid rgb(255,255,255) ;
			/*margin-top:150px;*/
		}
		.imgs li:hover .white p{
			height:20px;
			margin-top:24px;

		}

 		.big{
		font-size: 30px;
		text-align: center;
 		}

		.bottom{
			margin-top:25px;
			margin-left:200px;
		}
		.bottom>ul>li{
			display:inline-block;
			width:120px;
			height:38px;
			margin-left:20px;
			text-align: center;
		}
		.bottom a{
			color:rgb(50,50,50);
			font-size: 14px;
			font-family:‘Arial Black’, Gadget, sans-serif;；
		}
		.bottom li:hover{
			border-bottom:2px solid rgb(58,167,71);
			font-weight: 600;
		}
		.bottom li:first-child {
			font-weight: bolder;
			width:105px;
			color:rgb(0,0,0);

		}
		.bottom a:hover{
			color:rgb(58,167,71);
		}
		.last-harp{
			margin-top: 120px;
			font-size:30px;
			font-weight: 600px;
		}
		.last-head{
			text-align:center;
			margin-top:20px;
		}
		.city{
			margin-left:300px;
			
		}
		.city a:hover{
			color:rgb(58,167,71);
		}
		.city a{
			color:black;

		}
		.city>ul>li{
			display:inline-block;
			font-size:15px;
			width:120px;
			height:38px;
			margin-left:20px;
			color:black;
			text-align: center;
		}
		.month-warp{
			text-align: center;
			font-size: 30px;
			margin-left:0px;
			margin-top:50px;

		}
		.month-show{
			margin-left:250px;
		}
		.month-show>ul>li{
			display:inline-block;
			margin-top:5px;
			font-size:20px;
			width:70px;
			height:70px;
			color:black;
			text-align: center;
			line-height: 70px;
		}
		.month-show>ul>li:hover{
			background-color:#21bf6a;
			border-radius: 50%;
			border:none; 
			color:white;
		}
	.fix{
	position:fixed;
	z-index:2;
	top:180px;
	right:0px;
	width:50px;
	height:305px;
	background:black;
	opacity: 0.5;
}
	.fix li{
	margin-top: 10px;
	margin-left:-25px;
    width:40px;
    height:40px;
    border-bottom:1px solid rgb(88,91,90);
}
.footer{
	float: left;
	position: relative;
	top:300px;
	width:100%;
	height:500px;
	background:#5B5B5B;
}
.footer img{
	float: left;
	margin-top:100px;
	margin-left: 20px;
	width:400px;
	height:80px 
}
.footer .wenzi{
	width:800px;
	height:150px;
	margin-left: 600px;
}
.head{
	font-size: 16px;
	font-weight: bolder;
	margin-top:30px;
	margin-bottom: 10px;
}
.footer ul li{
	margin:0px 50px 10px 50px;
	display: inline-block;
	color:white;
	font-size: 14px;
}
.yejiao{
	position: relative;
	top:70px;
	width:800px;
	height:50px;
	margin:0px auto;
	top:100px;
}
.yejiao p{
	font-size: 12px;
	color:white;
}
.p1{
	margin-left: 70px;
	margin-top:100px;
}
.box{
	top:-950px;
	width:1020px;
	height:230px;
	margin:10px auto;
	position: relative;
	overflow: hidden;
}
.slider{
	width:3060px;
	position:absolute;
	left:-340px;
	z-index: 99;
}
.slide{
	overflow:hidden;
	float:left;
	margin-right: 25px;
	margin-left: 25px;
}
.slider img{
	width: 290px;
	height:195px;
}
.box>span{
	display:block;
	width:30px;
	height:50px;
	text-align: center;
	cursor:pointer;
	color:white;
	top:80px;
	line-height:50px;
	font-size:50px;
	position: absolute;
	opacity: 0;
	z-index: 99;
}
#left{
	left:0px;
}
#right{
	right:0px;
}
.nav>li span{
	margin-left:5px;
}
.daohang{
	width:100%;
	height: 50px;
	position:absolute;
	z-index:100;
}
.list{
	margin-left:200px;

}
.list a{
	color:black;
}
.list>li{
	float: left;
	font-weight: bolder;
	font-size:18px;
	font-family: 微软雅黑;
	margin: 10px 30px 10px 30px;
	display:inline-block;
}
.list>li:hover .list>li{
	border-top:5px solid white;
}
.list>li:hover .sec{
	margin-top: 10px;
	width:80px;
	height:80px;
	border:1px solid white;
	background:white;
    display: block;
    z-index: 99;
    border-radius: 10px;
}
.list a:hover{
	color:#28b76c;
}
.sec li a{
	font-family: 微软雅黑;
	font-weight:500;
	font-size: 14px;
	color:black;
}
.list>li:hover .sec li{
	
    display: block;
}
.list .login{
	width:120px;
	height: 50px;
	font-size: 16px;
    float:right;
}
.login li{
	margin:  30px 10px 10px 10px;
	display: inline-block;
}
.sec li{
	display: none;
}

input{
	height:20px;
	padding:20px 0;
	width:600px;
	display:block;
	font-size:18px;
	text-indent:31px;
	background-color:transparent;
	color:#636363;
	outline:none;
	float:right;
	margin-right:105px;

}
.btn{
	height:45px;
	display:block;
	width:120px;
	line-height:45px;
	text-align:center;
	font-size:18px;
	color:#fff;
	background-color: #28b76c;
	border:1px solid #27ad66 ;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-left: 1400px;
	margin-bottom:10px;
	
	
}
.show{display: block;}
.hide{display:none}
#change{
	position:absolute;
	margin-left: 200px;
	margin-bottom: 50px;
	border-bottom: 1px solid #D3D3D3;
	border-top: 1px solid #D3D3D3;

}
#change li{
			width:300px;
			height:200px;
			margin-left:70px;
			display:inline;


}
#change a{
	color:black;
}
#change a:hover{
	color:#28b76c;
	font-weight: 600;

}
